html {
    height: 100%;
    width: 100%;
  }
*{
margin: 0;   
padding: 10px 0 0 4px;
}
body{
    background-color: #514F59;
}
h1{
    color: #E5D4ED;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: #90e0ef;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}
h2{
    font-size: 30px;
    color: #E5D4ED;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: #E5D4ED;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

a{
    padding-bottom: 20px;
font-size: 20px;

}
a:link{
     color: #E5D4ED; 
}
a:hover{
    color: #90e0ef;
}



        
            .send{
                padding: 10px 20px;
                margin-bottom: 20px;
                border-radius: 4px;
                font-size: 16px;
                border: none;
                background: linear-gradient(to right, #ddbea9, #a5a58d);
                color:#90e0ef;
                cursor: pointer;
            }
            .text{
                padding: 10px;
               
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
                outline: none;
            }
            .text:focus{
                border-color: #007bff;
                box-shadow: 0 0 5px #007bff;
            }

            label{
                color: #90e0ef;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 20px;
            }
 